body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: white;
  position: relative;
}

#root {
  width: 100%;
  height: 100%;
}

#variables {
  background-color: #cdcdcd;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  left: 0;
  margin: 1rem;
  opacity: 0.7;
  padding: 1rem;
  position: absolute;
  top: 0;
}

#variables span {
  font-size: 1.3rem;
}

#variables .unit {
  font-size: 1.1rem;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scene-wrapper {
  width: 100%;
  height: 60%;
  box-shadow: 0 3px 6px -3px #33333355;
}

.slider-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#time-slider {
  width: 95%;
  margin-bottom: 1rem;
}

#VRButton {
  position: absolute !important;
  bottom: 3rem !important;
  right: 2rem !important;
  left: unset !important;
  background: rgba(100, 0, 255, 0.6) !important;
  color: black !important;
  border-color: black !important;
}
