body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}

body * {
  box-sizing: border-box;
}
#root {
  width: 100%;
  height: 100%;
}

.wrapper {
  padding: 25px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scene-wrapper {
  margin: 25px;
  width: 100%;
  height: 60%;
  border: 1px solid #333333;
  border-radius: 10px;
  box-shadow: 0 3px 6px -3px #33333355;
}
